<mat-card class="example-card">

  <div *ngIf="!spinner" class="no-spinner">
    <mat-card-content>

      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" [(ngModel)]="password" type="password" name="password" required>
        </mat-form-field>
      </form>

    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button (click)="login()" color="primary">Login</button>
    </mat-card-actions>
    <mat-card-actions>
      <button mat-raised-button (click)="login()" color="primary">Login with Google</button>
    </mat-card-actions>

  </div>


  <div *ngIf="spinner" class="spinner">
    <!-- <mat-spinner [style.display]="spinner ? 'block' : 'none'"></mat-spinner> -->
    <mat-spinner></mat-spinner>
  </div>
</mat-card>
