<div class="row">
  <div class="col">

    <form class="example-form" #f="ngForm" (ngSubmit)="save(f.value)">
      <mat-form-field class="example-full-width">
        <input matInput #title="ngModel" ngModel name="title" placeholder="Title" required>
      </mat-form-field>


      <mat-form-field class="example-full-width">
        <!-- <mat-icon md-font-set="regular-font">%</mat-icon> -->
        <input matInput #price="ngModel" type="number" ngModel name="price" placeholder="Price" required [min]="0">
      </mat-form-field>
      <div class="alert alert-danger" *ngIf="price.touched && price.invalid">
        <div *ngIf="price.errors.required">Price is required</div>
        <div *ngIf="price.errors.min">Price should be 0 or higher</div>
      </div>


      <mat-form-field>
        <mat-select ngModel name="category" placeholder="Categories" required>
          <!-- <mat-option [value]="None">
            {{"Please Select"}}
          </mat-option> -->
          <mat-option *ngFor="let c of categories" [value]="c.key">
            {{c.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>


      <mat-form-field class="example-full-width">
        <input matInput #imageUrl="ngModel" ngModel name="imageUrl" placeholder="Image URL" required url>
      </mat-form-field>
      <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">
        <div *ngIf="imageUrl.errors.required">Image URL is required</div>
        <div *ngIf="imageUrl.errors.url">Please enter valid URL</div>
      </div>


      <button mat-raised-button color="primary" routerLink="/admin/products/new" [disabled]="f.invalid">
        Save
      </button>
    </form>

  </div>
  <div class="col">
    lol
  </div>
</div>
